.leaflet-container{
  width: 100vw;
  height: 100vh;
  z-index: 1
}

div #device_menu{
  position: absolute;
  margin-top: 10px;
  margin-left: 50px;
  background-color: white;
  border-radius: 25px;
  border: 2px solid black;
  z-index: 10;
}

div #scale_button{
  position: absolute;
  margin-top: 10px;
  margin-left: 180px;
  background-color: white;
  border-radius: 25px;
  border: 2px solid black;
  z-index: 10;
}

div #new_metric_button{
  position: absolute;
  margin-top: 10px;
  margin-left: 370px;
  background-color: white;
  border-radius: 25px;
  border: 2px solid black;
  z-index: 9;
}

div .device_form{
  position: absolute;
  top: 60px;

  margin-top: 10px;
  margin-left: 50px;
  background-color: white;
  border-radius: 25px;
  border: 2px solid black;
  padding: 30px;
  z-index: 10;
}

#updateMetricForm{
  width: 350px;
}


form > div{
  margin: 10px;
}

button {
  margin: 10px;
}

#optionalAttributesSelect{
  margin: 10px;
}

#new_metric_form .MuiTextField-root{
  padding: 10px;
}

.close-button{
  height: 26px;
  width: 30px;
}

.leaflet-popup-content-wrapper{
  height: auto;
  width: 400px;
}

div .leaflet-popup-content-wrapper{
  width: 401px;
}

div .MuiAppBar-root{
  width: 380px;
}

input .metricNumber{
  width: 68px;
  padding-left:0%;
}